<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "antonio.jpg" %>
  </div>

  <div id="content">
    <h1>Olá, Eu sou o Antonio Carlos</h1>
    <p>Estou estudando Ruby on Rails e este é o resultado após seguir o segundo tutorial do Mackenzie Child.</p>
    <p>Este tutorial demonstra a criação de um blog utilizando o Rails 4.</p>
    <p>Ao mesmo tempo que aprender a parte de lógica ainda aprendemos a utilizar algumas gems que podem ser muito úteis em futuras aplicações que possamos vir a desenvolver.</p>
  </div>
</div>
